node_modules/

#Ignore everything in replica folders
ecommerce-backend/mongo-replica/rs1/*
ecommerce-backend/mongo-replica/rs2/*
ecommerce-backend/mongo-replica/rs3/*

#Except .gitkeep to preserve the empty folder structure
!ecommerce-backend/mongo-replica/rs1/.gitkeep
!ecommerce-backend/mongo-replica/rs2/.gitkeep
!ecommerce-backend/mongo-replica/rs3/.gitkeep

