node_modules/

# Ignore everything in replica folders,
mongo-replica/rs1/*
mongo-replica/rs2/*
mongo-replica/rs3/*

# Except .gitkeep to preserve empty folder structure (optional),
!mongo-replica/rs1/.gitkeep
!mongo-replica/rs2/.gitkeep
!mongo-replica/rs3/.gitkeep

